
    
    <style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-587568962938602417.gps.gpsil [style*="--as:"]{align-self:var(--as)}.gps-587568962938602417.gps.gpsil [style*="--aspect:"]{aspect-ratio:var(--aspect)}.gps-587568962938602417.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-587568962938602417.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-587568962938602417.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-587568962938602417.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-587568962938602417.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-587568962938602417.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-587568962938602417.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-587568962938602417.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-587568962938602417.gps.gpsil [style*="--bb:"]{border-bottom:var(--bb)}.gps-587568962938602417.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-587568962938602417.gps.gpsil [style*="--bblr:"]{border-bottom-left-radius:var(--bblr)}.gps-587568962938602417.gps.gpsil [style*="--bbrr:"]{border-bottom-right-radius:var(--bbrr)}.gps-587568962938602417.gps.gpsil [style*="--bl:"]{border-left:var(--bl)}.gps-587568962938602417.gps.gpsil [style*="--bs:"]{border-style:var(--bs)}.gps-587568962938602417.gps.gpsil [style*="--bt:"]{border-top:var(--bt)}.gps-587568962938602417.gps.gpsil [style*="--btlr:"]{border-top-left-radius:var(--btlr)}.gps-587568962938602417.gps.gpsil [style*="--btrr:"]{border-top-right-radius:var(--btrr)}.gps-587568962938602417.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-587568962938602417.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-587568962938602417.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-587568962938602417.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-587568962938602417.gps.gpsil [style*="--ff:"]{font-family:var(--ff)}.gps-587568962938602417.gps.gpsil [style*="--size:"]{font-size:var(--size)}.gps-587568962938602417.gps.gpsil [style*="--weight:"]{font-weight:var(--weight)}.gps-587568962938602417.gps.gpsil [style*="--fs:"]{font-style:var(--fs)}.gps-587568962938602417.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-587568962938602417.gps.gpsil [style*="--h:"]{height:var(--h)}.gps-587568962938602417.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-587568962938602417.gps.gpsil [style*="--ls:"]{letter-spacing:var(--ls)}.gps-587568962938602417.gps.gpsil [style*="--lh:"]{line-height:var(--lh)}.gps-587568962938602417.gps.gpsil [style*="--tdt:"]{text-decoration-thickness:var(--tdt)}.gps-587568962938602417.gps.gpsil [style*="--tdl:"]{text-decoration-line:var(--tdl)}.gps-587568962938602417.gps.gpsil [style*="--m:"]{margin:var(--m)}.gps-587568962938602417.gps.gpsil [style*="--mb:"]{margin-bottom:var(--mb)}.gps-587568962938602417.gps.gpsil [style*="--objf:"]{-o-object-fit:var(--objf);object-fit:var(--objf)}.gps-587568962938602417.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-587568962938602417.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-587568962938602417.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-587568962938602417.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-587568962938602417.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-587568962938602417.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-587568962938602417.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-587568962938602417.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-587568962938602417.gps.gpsil [style*="--rg:"]{row-gap:var(--rg)}.gps-587568962938602417.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-587568962938602417.gps.gpsil [style*="--ts:"]{text-shadow:var(--ts)}.gps-587568962938602417.gps.gpsil [style*="--tt:"]{text-transform:var(--tt)}.gps-587568962938602417.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-587568962938602417.gps.gpsil [style*="--w:"]{width:var(--w)}.gps-587568962938602417.gps.gpsil [style*="--line-clamp:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp);display:-webkit-box;overflow:hidden}@media only screen and (max-width:1024px){.gps-587568962938602417.gps.gpsil [style*="--aspect-tablet:"]{aspect-ratio:var(--aspect-tablet)}.gps-587568962938602417.gps.gpsil [style*="--bgc-tablet:"]{background-color:var(--bgc-tablet)}.gps-587568962938602417.gps.gpsil [style*="--bgi-tablet:"]{background-image:var(--bgi-tablet)}.gps-587568962938602417.gps.gpsil [style*="--cg-tablet:"]{-moz-column-gap:var(--cg-tablet);column-gap:var(--cg-tablet)}.gps-587568962938602417.gps.gpsil [style*="--size-tablet:"]{font-size:var(--size-tablet)}.gps-587568962938602417.gps.gpsil [style*="--h-tablet:"]{height:var(--h-tablet)}.gps-587568962938602417.gps.gpsil [style*="--lh-tablet:"]{line-height:var(--lh-tablet)}.gps-587568962938602417.gps.gpsil [style*="--mb-tablet:"]{margin-bottom:var(--mb-tablet)}.gps-587568962938602417.gps.gpsil [style*="--op-tablet:"]{opacity:var(--op-tablet)}.gps-587568962938602417.gps.gpsil [style*="--pb-tablet:"]{padding-bottom:var(--pb-tablet)}.gps-587568962938602417.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-587568962938602417.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-587568962938602417.gps.gpsil [style*="--pt-tablet:"]{padding-top:var(--pt-tablet)}.gps-587568962938602417.gps.gpsil [style*="--rg-tablet:"]{row-gap:var(--rg-tablet)}.gps-587568962938602417.gps.gpsil [style*="--ta-tablet:"]{text-align:var(--ta-tablet)}.gps-587568962938602417.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}.gps-587568962938602417.gps.gpsil [style*="--line-clamp-tablet:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-tablet);display:-webkit-box;overflow:hidden}}@media only screen and (max-width:767px){.gps-587568962938602417.gps.gpsil [style*="--aspect-mobile:"]{aspect-ratio:var(--aspect-mobile)}.gps-587568962938602417.gps.gpsil [style*="--bga-mobile:"]{background-attachment:var(--bga-mobile)}.gps-587568962938602417.gps.gpsil [style*="--bgc-mobile:"]{background-color:var(--bgc-mobile)}.gps-587568962938602417.gps.gpsil [style*="--bgi-mobile:"]{background-image:var(--bgi-mobile)}.gps-587568962938602417.gps.gpsil [style*="--bgp-mobile:"]{background-position:var(--bgp-mobile)}.gps-587568962938602417.gps.gpsil [style*="--bgr-mobile:"]{background-repeat:var(--bgr-mobile)}.gps-587568962938602417.gps.gpsil [style*="--bgs-mobile:"]{background-size:var(--bgs-mobile)}.gps-587568962938602417.gps.gpsil [style*="--size-mobile:"]{font-size:var(--size-mobile)}.gps-587568962938602417.gps.gpsil [style*="--gtc-mobile:"]{grid-template-columns:var(--gtc-mobile)}.gps-587568962938602417.gps.gpsil [style*="--h-mobile:"]{height:var(--h-mobile)}.gps-587568962938602417.gps.gpsil [style*="--jc-mobile:"]{justify-content:var(--jc-mobile)}.gps-587568962938602417.gps.gpsil [style*="--lh-mobile:"]{line-height:var(--lh-mobile)}.gps-587568962938602417.gps.gpsil [style*="--mb-mobile:"]{margin-bottom:var(--mb-mobile)}.gps-587568962938602417.gps.gpsil [style*="--objf-mobile:"]{-o-object-fit:var(--objf-mobile);object-fit:var(--objf-mobile)}.gps-587568962938602417.gps.gpsil [style*="--op-mobile:"]{opacity:var(--op-mobile)}.gps-587568962938602417.gps.gpsil [style*="--o-mobile:"]{order:var(--o-mobile)}.gps-587568962938602417.gps.gpsil [style*="--pb-mobile:"]{padding-bottom:var(--pb-mobile)}.gps-587568962938602417.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-587568962938602417.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-587568962938602417.gps.gpsil [style*="--pt-mobile:"]{padding-top:var(--pt-mobile)}.gps-587568962938602417.gps.gpsil [style*="--rg-mobile:"]{row-gap:var(--rg-mobile)}.gps-587568962938602417.gps.gpsil [style*="--ta-mobile:"]{text-align:var(--ta-mobile)}.gps-587568962938602417.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}.gps-587568962938602417.gps.gpsil [style*="--line-clamp-mobile:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-mobile);display:-webkit-box;overflow:hidden}}.gps-587568962938602417 .gp-relative{position:relative}.gps-587568962938602417 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-587568962938602417 .gp-mb-0{margin-bottom:0}.gps-587568962938602417 .gp-inline-block{display:inline-block}.gps-587568962938602417 .gp-flex{display:flex}.gps-587568962938602417 .gp-grid{display:grid}.gps-587568962938602417 .gp-contents{display:contents}.gps-587568962938602417 .\!gp-hidden{display:none!important}.gps-587568962938602417 .gp-hidden{display:none}.gps-587568962938602417 .gp-h-auto{height:auto}.gps-587568962938602417 .gp-h-full{height:100%}.gps-587568962938602417 .gp-w-full{width:100%}.gps-587568962938602417 .\!gp-max-w-none{max-width:none!important}.gps-587568962938602417 .gp-max-w-full{max-width:100%}.gps-587568962938602417 .gp-flex-none{flex:none}.gps-587568962938602417 .gp-grid-rows-\[1fr\]{grid-template-rows:1fr}.gps-587568962938602417 .gp-flex-col{flex-direction:column}.gps-587568962938602417 .gp-overflow-hidden{overflow:hidden}.gps-587568962938602417 .gp-bg-black{--tw-bg-opacity:1;background-color:rgb(0 0 0/var(--tw-bg-opacity))}.gps-587568962938602417 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-587568962938602417 .gp-duration-200{transition-duration:.2s}.gps-587568962938602417 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}@media (max-width:1024px){.gps-587568962938602417 .tablet\:\!gp-hidden{display:none!important}.gps-587568962938602417 .tablet\:gp-hidden{display:none}.gps-587568962938602417 .tablet\:gp-h-auto{height:auto}.gps-587568962938602417 .tablet\:gp-flex-none{flex:none}}@media (max-width:767px){.gps-587568962938602417 .mobile\:\!gp-hidden{display:none!important}.gps-587568962938602417 .mobile\:gp-hidden{display:none}.gps-587568962938602417 .mobile\:gp-h-auto{height:auto}.gps-587568962938602417 .mobile\:gp-flex-none{flex:none}}.gps-587568962938602417 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}.gps-587568962938602417 .\[\&_\>_article\]\:gp-aspect-\[var\(--aspect\)\]>article{aspect-ratio:var(--aspect)}@media (max-width:1024px){.gps-587568962938602417 .tablet\:\[\&_\>_article\]\:gp-aspect-\[var\(--aspect-tablet\2c _var\(--aspect\)\)\]>article{aspect-ratio:var(--aspect-tablet,var(--aspect))}}@media (max-width:767px){.gps-587568962938602417 .mobile\:\[\&_\>_article\]\:gp-aspect-\[var\(--aspect-mobile\2c _var\(--aspect-tablet\2c _var\(--aspect\)\)\)\]>article{aspect-ratio:var(--aspect-mobile,var(--aspect-tablet,var(--aspect)))}}</style>
    
    
    

    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}

    
        <section
          class="gp-mx-auto gp-max-w-full [&_*]:gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--pl:none;--pl-tablet:none;--pl-mobile:none;--pr:none;--pr-tablet:none;--pr-mobile:none"
        >
          
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"#00000000","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"gO6NQPMKt7"}' data-id="gO6NQPMKt7" id="gO6NQPMKt7" data-same-height-subgrid-container class="gO6NQPMKt7 gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--blockPadding:base;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--op-mobile:100%;--op-tablet:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--pt-mobile:25px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--pt-tablet:0px;--pl-tablet:0px;--pb-tablet:0px;--pr-tablet:0px;--cg:32px;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:#00000000;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gpmFw-nSAN gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gvaUBZF1D_"
        class="gvaUBZF1D_"
        style="--ta:center;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--op-tablet:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:11px;--pt:20px;--pl:18px;--pb:0px;--pr:20px;--mb-mobile:15px;--pt-mobile:0px;--pl-mobile:15px;--pb-mobile:0px;--pr-mobile:15px;--mb-tablet:16px;--pt-tablet:15px;--pl-tablet:20px;--pb-tablet:0px;--pr-tablet:20px;--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1762341069958"
      >
      <div class="gp-flex" style="--jc:center">
        <h1
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:996px;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ts:none;--ta:left;--ta-tablet:left;--ta-mobile:left;--fs:normal;--ff:var(--g-font-Funnel-Display, 'Funnel Display'), var(--g-font-heading, heading);--weight:800;--size:28px;--size-tablet:25px;--size-mobile:27px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--ls:0px;--c:#000000;--tt:uppercase;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggvaUBZF1D__text | replace: '$locationOrigin', locationOrigin }}
        </h1>
      </div>
    </div>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gageb314dy"
        class="gageb314dy"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:25px;--pt:0px;--pl:455px;--pb:0px;--pr:20px;--mb-mobile:20px;--pt-mobile:0px;--pl-mobile:15px;--pb-mobile:0px;--pr-mobile:15px;--mb-tablet:25px;--pt-tablet:0px;--pl-tablet:20px;--pb-tablet:0px;--pr-tablet:20px;--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1762341069959"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--b:none;--bc:#121212;--bw:1px 1px 1px 1px;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--shadow:none;--ts:none;--ta:left;--ta-tablet:left;--ta-mobile:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Funnel-Display, 'Funnel Display'), var(--g-font-body, body);--weight:400;--size:16px;--size-tablet:16px;--size-mobile:13px;--lh:180%;--lh-tablet:180%;--lh-mobile:180%;--c:#000000;--tt:none;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggageb314dy_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    

    

    
    <gp-row gp-data='{"background":{"tablet":{"color":"#F2F8F9","preload":false,"type":"color"}},"uid":"gAEwJXRmzz"}' data-id="gAEwJXRmzz" id="gAEwJXRmzz" data-same-height-subgrid-container class="gAEwJXRmzz gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:none;--d-mobile:none;--d-tablet:grid;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:25px;--mb-mobile:25px;--pt-mobile:20px;--pl-mobile:24px;--pb-mobile:20px;--pr-mobile:24px;--mb-tablet:25px;--pt-tablet:20px;--pl-tablet:150px;--pb-tablet:20px;--pr-tablet:150px;--cg:16px;--cg-tablet:51px;--rg:16px;--rg-tablet:51px;--rg-mobile:16px;--gtc:minmax(0, 6fr) minmax(0, 6fr);--gtc-mobile:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--h:auto;--bgc-tablet:#F2F8F9;--bgi-tablet:url();--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="guQh5z-00Z gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="g3RGcdsqN_"
        class="g3RGcdsqN_"
        style="--ta:center;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:none;--d-mobile:none;--d-tablet:block;--op:100%;--op-mobile:100%;--op-tablet:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:11px;--pt:20px;--pl:18px;--pb:0px;--pr:20px;--mb-mobile:15px;--pt-mobile:0px;--pl-mobile:15px;--pb-mobile:0px;--pr-mobile:15px;--mb-tablet:16px;--pt-tablet:15px;--pl-tablet:0px;--pb-tablet:0px;--pr-tablet:20px;--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1762341069963"
      >
      <div class="gp-flex" style="--jc:center">
        <h1
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:996px;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ts:none;--ta:left;--ta-tablet:left;--ta-mobile:left;--fs:normal;--ff:var(--g-font-Funnel-Display, 'Funnel Display'), var(--g-font-heading, heading);--weight:800;--size:29px;--size-tablet:26px;--size-mobile:27px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--ls:0px;--c:#000000;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.gg3RGcdsqN__text | replace: '$locationOrigin', locationOrigin }}
        </h1>
      </div>
    </div>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="g7ajWu5HYP"
        class="g7ajWu5HYP"
        style="--ta:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--op-tablet:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--pl:0px;--pl-mobile:0px;--pl-tablet:0px;--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1762341069964"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:451px;--w-tablet:451px;--w-mobile:451px;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ts:none;--ta:left;--ta-mobile:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-Funnel-Display, 'Funnel Display'), var(--g-font-body, body);--weight:400;--size:16px;--size-tablet:16px;--size-mobile:17px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--ls:normal;--c:#000000;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pl:0px;overflow:hidden;--tdl:"
        >
          {{ section.settings.gg7ajWu5HYP_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    </div><div
      data-same-height-display-contents
      style="--jc:start"
      class="gyupH2pTcc gp-relative gp-flex gp-flex-col"
    >
      
    <div
       data-id="gQ5_s7GU7R" class="gQ5_s7GU7R !gp-max-w-none gp-bg-black gp-overflow-hidden [&_>_article]:gp-aspect-[var(--aspect)] tablet:[&_>_article]:gp-aspect-[var(--aspect-tablet,_var(--aspect))] mobile:[&_>_article]:gp-aspect-[var(--aspect-mobile,_var(--aspect-tablet,_var(--aspect)))] gp-relative" style="--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--aspect:16/9;--aspect-tablet:1/1">
      
  <gp-lite-html5-embed is-check-loaded="false" >
    
    <video
    id="gp-video-gQ5_s7GU7R" title="Video" preload="metadata" data-src="https://cdn.shopify.com/videos/c/o/v/abed68705cb443ec84ebf4ed3460a535.mp4" poster data-poster
      style="--aspect:16/9;--aspect-tablet:1/1"
      class="gp-w-full gp-lazyload-video"
      
      loop
      muted
      autoplay
      playsinline
      
    ></video>
    
  </gp-lite-html5-embed>
        <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://assets.gemcommerce.com/assets-v2/gp-lite-html5-embed-v7-5.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
  
    </div>
  
    </div>

      
    </gp-row>
  
  
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"#F2F8F9","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"preload":false,"repeat":"no-repeat","size":"cover","type":"color","video":"","videoHtml5":""},"mobile":{"attachment":"scroll","color":"#F2F8F9","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"preload":false,"repeat":"no-repeat","size":"cover","type":"color","video":"","videoHtml5":""}},"uid":"gOaKnXDpD0"}' data-id="gOaKnXDpD0" id="gOaKnXDpD0" data-same-height-subgrid-container class="gOaKnXDpD0 gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:none;--d-mobile:grid;--d-tablet:none;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:0px;--pt:32px;--pl:20px;--pb:32px;--pr:20px;--mb-mobile:0px;--pt-mobile:28px;--pl-mobile:20px;--pb-mobile:28px;--pr-mobile:20px;--mb-tablet:0px;--pt-tablet:32px;--pl-tablet:20px;--pb-tablet:32px;--pr-tablet:20px;--cg:62px;--gtc:minmax(0, auto) minmax(0, auto);--gtc-mobile:minmax(0, auto);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:#F2F8F9;--bgc-mobile:#F2F8F9;--bgi:url();--bgi-mobile:url();--bgp:50% 50%;--bgp-mobile:50% 50%;--bgs:cover;--bgs-mobile:cover;--bgr:no-repeat;--bgr-mobile:no-repeat;--bga:scroll;--bga-mobile:scroll;--pc:center">
      

      <div
      data-same-height-display-contents
      style="--jc:center;--o-mobile:1"
      class="gz4uOXP1b1 gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="g9jYiee2Ux"
        class="g9jYiee2Ux"
        style="--ta:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:none;--d-tablet:none;--op:100%;--op-mobile:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:16px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--mb-mobile:14px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--mb-tablet:16px;--pr-tablet:0px;--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1762341069970"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:451px;--w-tablet:451px;--w-mobile:451px;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ts:none;--ta:left;--ta-mobile:left;--fs:normal;--ff:var(--g-font-Funnel-Display, 'Funnel Display'), var(--g-font-heading, heading);--size:28px;--size-tablet:28px;--size-mobile:20px;--lh:120%;--lh-tablet:120%;--lh-mobile:130%;--ls:normal;--weight:bold;--c:#000000;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.gg9jYiee2Ux_text | replace: '$locationOrigin', locationOrigin }}
        </h2>
      </div>
    </div>
    
    <div
       data-id="gcfqseMbwJ" class="gcfqseMbwJ !gp-max-w-none gp-bg-black gp-overflow-hidden [&_>_article]:gp-aspect-[var(--aspect)] tablet:[&_>_article]:gp-aspect-[var(--aspect-tablet,_var(--aspect))] mobile:[&_>_article]:gp-aspect-[var(--aspect-mobile,_var(--aspect-tablet,_var(--aspect)))] gp-relative" style="--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:none;--d-mobile:block;--d-tablet:none;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:16px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--mb-mobile:16px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--mb-tablet:16px;--pt-tablet:0px;--pl-tablet:0px;--pb-tablet:0px;--pr-tablet:0px;--aspect:16/9;--aspect-mobile:1/1">
      
  <gp-lite-html5-embed is-check-loaded="false" >
    
    <video
    id="gp-video-gcfqseMbwJ" title="Video" preload="metadata" data-src="https://cdn.shopify.com/videos/c/o/v/4ea037fe6950491f9969ef17b78eda0f.mp4" poster data-poster
      style="--aspect:16/9;--aspect-mobile:1/1"
      class="gp-w-full gp-lazyload-video"
      
      loop
      muted
      autoplay
      playsinline
      
    ></video>
    
  </gp-lite-html5-embed>
        <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://assets.gemcommerce.com/assets-v2/gp-lite-html5-embed-v7-5.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
  
    </div>
  
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gigksYMOGT"
        class="gigksYMOGT"
        style="--ta:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--pr:0px;--pr-tablet:0px;--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1762341069972"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:451px;--w-tablet:451px;--w-mobile:451px;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ts:none;--ta:left;--ta-mobile:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-Funnel-Display, 'Funnel Display'), var(--g-font-body, body);--weight:400;--size:17px;--size-tablet:16px;--size-mobile:17px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--ls:normal;--c:#000000;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pl:0px;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggigksYMOGT_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    </div><div
      data-same-height-display-contents
      style="--jc:center"
      class="gqLESPFw0P gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gw0EF81rp6"
        class="gw0EF81rp6"
        style="--ta:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:none;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--pr:0px;--mb-mobile:14px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--mb-tablet:16px;--pr-tablet:0px;--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1762341069973"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:451px;--w-tablet:451px;--w-mobile:451px;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ts:none;--ta:left;--ta-mobile:left;--fs:normal;--ff:var(--g-font-Funnel-Display, 'Funnel Display'), var(--g-font-heading, heading);--size:28px;--size-tablet:28px;--size-mobile:22px;--lh:120%;--lh-tablet:120%;--lh-mobile:130%;--ls:normal;--weight:bold;--c:#000000;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggw0EF81rp6_text | replace: '$locationOrigin', locationOrigin }}
        </h2>
      </div>
    </div>
    
    </div>

      
    </gp-row>
  
  
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"#F2F8F9","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"preload":false,"repeat":"no-repeat","size":"cover","type":"color","video":"","videoHtml5":""},"mobile":{"attachment":"scroll","color":"#F2F8F9","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"preload":false,"repeat":"no-repeat","size":"cover","type":"color","video":"","videoHtml5":""}},"uid":"gJ8Aw1Dayb"}' data-id="gJ8Aw1Dayb" id="gJ8Aw1Dayb" data-same-height-subgrid-container class="gJ8Aw1Dayb gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:none;--d-tablet:none;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:0px;--pt:32px;--pl:350px;--pb:32px;--pr:400px;--mb-mobile:0px;--pt-mobile:28px;--pl-mobile:20px;--pb-mobile:28px;--pr-mobile:20px;--mb-tablet:0px;--pt-tablet:32px;--pl-tablet:350px;--pb-tablet:32px;--pr-tablet:400px;--cg:120px;--gtc:minmax(0, auto) minmax(0, auto);--gtc-mobile:minmax(0, auto) minmax(0, auto);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:#F2F8F9;--bgc-mobile:#F2F8F9;--bgi:url();--bgi-mobile:url();--bgp:50% 50%;--bgp-mobile:50% 50%;--bgs:cover;--bgs-mobile:cover;--bgr:no-repeat;--bgr-mobile:no-repeat;--bga:scroll;--bga-mobile:scroll;--pc:center">
      

      <div
      data-same-height-display-contents
      style="--jc:center;--o-mobile:1"
      class="gVtJllsHmO gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gnvT7KBOpQ"
        class="gnvT7KBOpQ"
        style="--ta:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:none;--d-tablet:none;--op:100%;--op-mobile:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:16px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--mb-mobile:14px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--mb-tablet:16px;--pr-tablet:0px;--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1762341069998"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:451px;--w-tablet:451px;--w-mobile:451px;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ts:none;--ta:left;--ta-mobile:left;--fs:normal;--ff:var(--g-font-Funnel-Display, 'Funnel Display'), var(--g-font-heading, heading);--size:27px;--size-tablet:28px;--size-mobile:20px;--lh:120%;--lh-tablet:120%;--lh-mobile:130%;--ls:normal;--weight:bold;--c:#000000;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggnvT7KBOpQ_text | replace: '$locationOrigin', locationOrigin }}
        </h2>
      </div>
    </div>
    
    <div
       data-id="gNXEtylnzE" class="gNXEtylnzE !gp-max-w-none gp-bg-black gp-overflow-hidden [&_>_article]:gp-aspect-[var(--aspect)] tablet:[&_>_article]:gp-aspect-[var(--aspect-tablet,_var(--aspect))] mobile:[&_>_article]:gp-aspect-[var(--aspect-mobile,_var(--aspect-tablet,_var(--aspect)))] gp-relative" style="--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:none;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:16px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--mb-mobile:16px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--mb-tablet:16px;--pt-tablet:0px;--pl-tablet:0px;--pb-tablet:0px;--pr-tablet:0px;--aspect:16/9;--aspect-mobile:1/1">
      
  <gp-lite-html5-embed is-check-loaded="false" >
    
    <video
    id="gp-video-gNXEtylnzE" title="Video" preload="metadata" data-src="https://cdn.shopify.com/videos/c/o/v/abed68705cb443ec84ebf4ed3460a535.mp4" poster data-poster
      style="--aspect:16/9;--aspect-mobile:1/1"
      class="gp-w-full gp-lazyload-video"
      
      loop
      muted
      autoplay
      playsinline
      
    ></video>
    
  </gp-lite-html5-embed>
        <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://assets.gemcommerce.com/assets-v2/gp-lite-html5-embed-v7-5.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
  
    </div>
  
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gjkv5m1vuM"
        class="gjkv5m1vuM"
        style="--ta:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--pr:0px;--pr-tablet:0px;--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1762341070000"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:451px;--w-tablet:451px;--w-mobile:451px;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ts:none;--ta:left;--ta-mobile:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-Funnel-Display, 'Funnel Display'), var(--g-font-body, body);--weight:400;--size:17px;--size-tablet:16px;--size-mobile:17px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--ls:normal;--c:#000000;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pl:0px;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggjkv5m1vuM_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gpiz-sEMZs"
        class="gpiz-sEMZs"
        style="--ta:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:none;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--pr:0px;--mb-mobile:14px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--mb-tablet:16px;--pr-tablet:0px;--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1762341070007"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:451px;--w-tablet:451px;--w-mobile:451px;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ts:none;--ta:left;--ta-mobile:left;--fs:normal;--ff:var(--g-font-Funnel-Display, 'Funnel Display'), var(--g-font-heading, heading);--size:28px;--size-tablet:28px;--size-mobile:22px;--lh:120%;--lh-tablet:120%;--lh-mobile:130%;--ls:normal;--weight:bold;--c:#000000;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggpiz-sEMZs_text | replace: '$locationOrigin', locationOrigin }}
        </h2>
      </div>
    </div>
    
    </div><div
      data-same-height-display-contents
      style="--jc:center"
      class="gyJA1amfje gp-relative gp-flex gp-flex-col"
    >
      
    <div
       data-id="g6tCVnFNtn" class="g6tCVnFNtn !gp-max-w-none gp-bg-black gp-overflow-hidden [&_>_article]:gp-aspect-[var(--aspect)] tablet:[&_>_article]:gp-aspect-[var(--aspect-tablet,_var(--aspect))] mobile:[&_>_article]:gp-aspect-[var(--aspect-mobile,_var(--aspect-tablet,_var(--aspect)))] gp-relative" style="--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--aspect:1/1">
      
  <gp-lite-html5-embed is-check-loaded="false" >
    
    <video
    id="gp-video-g6tCVnFNtn" title="Video" preload="metadata" data-src="https://cdn.shopify.com/videos/c/o/v/abed68705cb443ec84ebf4ed3460a535.mp4" poster data-poster
      style="--aspect:1/1"
      class="gp-w-full gp-lazyload-video"
      
      loop
      muted
      autoplay
      playsinline
      
    ></video>
    
  </gp-lite-html5-embed>
        <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://assets.gemcommerce.com/assets-v2/gp-lite-html5-embed-v7-5.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
  
    </div>
  
    </div>

      
    </gp-row>
  
  
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"transparent","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"gxoBijVJu_"}' data-id="gxoBijVJu_" id="gxoBijVJu_" data-same-height-subgrid-container class="gxoBijVJu_ gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:0px;--pt:32px;--pl:20px;--pb:32px;--pr:20px;--mb-mobile:0px;--pt-mobile:28px;--pl-mobile:20px;--pb-mobile:28px;--pr-mobile:20px;--cg:120px;--gtc:minmax(0, auto) minmax(0, auto);--gtc-mobile:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:center">
      

      <div
      data-same-height-display-contents
      style="--jc:center"
      class="g8j3HLAkP7 gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gUVMhu0dq0"
        class="gUVMhu0dq0"
        style="--ta:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:none;--d-mobile:block;--d-tablet:none;--op:100%;--op-mobile:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:16px;--pl:0px;--mb-mobile:14px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--mb-tablet:16px;--pt-tablet:0px;--pl-tablet:0px;--pb-tablet:0px;--pr-tablet:0px;--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1762341070012"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:451%;--w-tablet:451%;--w-mobile:451%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ts:none;--ta:left;--ta-mobile:left;--fs:normal;--ff:var(--g-font-Funnel-Display, 'Funnel Display'), var(--g-font-heading, heading);--size:28px;--size-tablet:28px;--size-mobile:22px;--lh:120%;--lh-tablet:120%;--lh-mobile:130%;--ls:normal;--weight:bold;--c:#000000;--tt:uppercase;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggUVMhu0dq0_text | replace: '$locationOrigin', locationOrigin }}
        </h2>
      </div>
    </div>
    
    <div
      role="presentation"
      data-id="g2w0aE3zTG"
      style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--op-tablet:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb-mobile:14px;--ta:center;--ta-mobile:center"
      class="gp-group/image gp-relative force-publish-1762341070012 gp-flex-none gp-h-auto mobile:gp-flex-none mobile:gp-h-auto tablet:gp-flex-none tablet:gp-h-auto g2w0aE3zTG"
    >
      <div
        
        style="border-radius:inherit;--jc:center;--jc-mobile:center"
        class="gp-h-full gp-w-full gp-flex pointer-events-auto"
      >
        
    <picture style="border-radius:inherit" class="gp-contents">
      
      <source media="(max-width: 767px)" data-srcSet="{{ "gempages_587555404163056185-7e25c3ac-6b6f-42a0-84ad-9cca967492b1.jpg" | file_url }}" srcset="{{ "gempages_587555404163056185-7e25c3ac-6b6f-42a0-84ad-9cca967492b1.jpg" | file_url }}" />
      <source media="(max-width: 1024px)" data-srcSet="{{ "gempages_587555404163056185-7e25c3ac-6b6f-42a0-84ad-9cca967492b1.jpg" | file_url }}" srcset="{{ "gempages_587555404163056185-7e25c3ac-6b6f-42a0-84ad-9cca967492b1.jpg" | file_url }}" />
    
      
      <img
        loading="eager" fetchpriority="high"
        src="{{ "gempages_587555404163056185-7e25c3ac-6b6f-42a0-84ad-9cca967492b1.jpg" | file_url }}" data-src="{{ "gempages_587555404163056185-7e25c3ac-6b6f-42a0-84ad-9cca967492b1.jpg" | file_url }}"
        alt=""
        width="100%"
        style="--aspect:483/380;--aspect-tablet:483/380;--aspect-mobile:auto;--objf:contain;--objf-mobile:contain;--w:483px;--w-tablet:483px;--w-mobile:500px;--h:auto;--h-tablet:auto;--h-mobile:auto"
        class="gp-inline-block gp-w-full gp-max-w-full"
      />
    
    </picture>
  
      </div>
    </div>
  
      <style id="custom-css-g2w0aE3zTG">
        .g2w0aE3zTG {

}
.g2w0aE3zTG > figure > img {

}
      </style>
    
    </div><div
      data-same-height-display-contents
      style="--jc:center"
      class="g2oPid3o5_ gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gBuXqnlX5v"
        class="gBuXqnlX5v"
        style="--ta:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:none;--d-tablet:none;--op:100%;--op-mobile:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:16px;--pl:0px;--mb-mobile:14px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--mb-tablet:16px;--pl-tablet:0px;--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1762341070014"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:451%;--w-tablet:451%;--w-mobile:451%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ts:none;--ta:left;--ta-mobile:left;--fs:normal;--ff:var(--g-font-Funnel-Display, 'Funnel Display'), var(--g-font-heading, heading);--size:27px;--size-tablet:28px;--size-mobile:20px;--lh:120%;--lh-tablet:120%;--lh-mobile:130%;--ls:normal;--weight:bold;--c:#000000;--tt:uppercase;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggBuXqnlX5v_text | replace: '$locationOrigin', locationOrigin }}
        </h2>
      </div>
    </div>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gAfEwZaHfX"
        class="gAfEwZaHfX"
        style="--ta:center;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:none;--d-mobile:none;--d-tablet:block;--op:100%;--op-mobile:100%;--op-tablet:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:11px;--pt:20px;--pl:18px;--pb:0px;--pr:20px;--mb-mobile:15px;--pt-mobile:0px;--pl-mobile:15px;--pb-mobile:0px;--pr-mobile:15px;--mb-tablet:16px;--pt-tablet:15px;--pl-tablet:0px;--pb-tablet:0px;--pr-tablet:20px;--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1762341070015"
      >
      <div class="gp-flex" style="--jc:center">
        <h1
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:996px;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ts:none;--ta:left;--ta-tablet:left;--ta-mobile:left;--fs:normal;--ff:var(--g-font-Funnel-Display, 'Funnel Display'), var(--g-font-heading, heading);--weight:800;--size:29px;--size-tablet:26px;--size-mobile:27px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--ls:0px;--c:#000000;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggAfEwZaHfX_text | replace: '$locationOrigin', locationOrigin }}
        </h1>
      </div>
    </div>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gjCATAKblz"
        class="gjCATAKblz"
        style="--ta:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--op-tablet:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--pl:0px;--pl-mobile:0px;--pl-tablet:0px;--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1762341070016"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:451px;--w-tablet:451px;--w-mobile:451px;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ts:none;--ta:left;--ta-mobile:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-Funnel-Display, 'Funnel Display'), var(--g-font-body, body);--weight:400;--size:16px;--size-tablet:16px;--size-mobile:17px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--ls:normal;--c:#000000;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pl:0px;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggjCATAKblz_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    </div>

      
    </gp-row>
  
  
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"#F2F8F9","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"preload":false,"repeat":"no-repeat","size":"cover","type":"color","video":"","videoHtml5":""},"mobile":{"attachment":"scroll","color":"#F2F8F9","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"preload":false,"repeat":"no-repeat","size":"cover","type":"color","video":"","videoHtml5":""}},"uid":"g7qaYLTk_i"}' data-id="g7qaYLTk_i" id="g7qaYLTk_i" data-same-height-subgrid-container class="g7qaYLTk_i gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:0px;--pt:32px;--pl:20px;--pb:32px;--pr:20px;--mb-mobile:0px;--pt-mobile:28px;--pl-mobile:20px;--pb-mobile:28px;--pr-mobile:20px;--cg:120px;--gtc:minmax(0, auto) minmax(0, auto);--gtc-mobile:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:#F2F8F9;--bgc-mobile:#F2F8F9;--bgi:url();--bgi-mobile:url();--bgp:50% 50%;--bgp-mobile:50% 50%;--bgs:cover;--bgs-mobile:cover;--bgr:no-repeat;--bgr-mobile:no-repeat;--bga:scroll;--bga-mobile:scroll;--pc:center">
      

      <div
      data-same-height-display-contents
      style="--jc:center;--o-mobile:1"
      class="gRH5V9E9na gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gtYc7Qs-ws"
        class="gtYc7Qs-ws"
        style="--ta:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:none;--d-tablet:none;--op:100%;--op-mobile:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:16px;--pr:0px;--mb-mobile:14px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--mb-tablet:16px;--pr-tablet:0px;--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1762341070021"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:451px;--w-tablet:451px;--w-mobile:451px;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ts:none;--ta:left;--ta-mobile:left;--fs:normal;--ff:var(--g-font-Funnel-Display, 'Funnel Display'), var(--g-font-heading, heading);--weight:600;--size:28px;--size-tablet:28px;--size-mobile:20px;--lh:120%;--lh-tablet:120%;--lh-mobile:130%;--ls:normal;--c:#000000;--tt:uppercase;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggtYc7Qs-ws_text | replace: '$locationOrigin', locationOrigin }}
        </h2>
      </div>
    </div>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gQcV0SPRl3"
        class="gQcV0SPRl3"
        style="--ta:center;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:none;--d-mobile:none;--d-tablet:block;--op:100%;--op-mobile:100%;--op-tablet:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:11px;--pt:20px;--pl:18px;--pb:0px;--pr:20px;--mb-mobile:15px;--pt-mobile:0px;--pl-mobile:15px;--pb-mobile:0px;--pr-mobile:15px;--mb-tablet:16px;--pt-tablet:15px;--pl-tablet:0px;--pb-tablet:0px;--pr-tablet:20px;--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1762341070022"
      >
      <div class="gp-flex" style="--jc:center">
        <h1
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:996px;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ts:none;--ta:left;--ta-tablet:left;--ta-mobile:left;--fs:normal;--ff:var(--g-font-Funnel-Display, 'Funnel Display'), var(--g-font-heading, heading);--weight:800;--size:29px;--size-tablet:26px;--size-mobile:27px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--ls:0px;--c:#000000;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggQcV0SPRl3_text | replace: '$locationOrigin', locationOrigin }}
        </h1>
      </div>
    </div>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gx9SeSwdGe"
        class="gx9SeSwdGe"
        style="--ta:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--pr:0px;--pr-tablet:0px;--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1762341070023"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:451px;--w-tablet:451px;--w-mobile:451px;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ts:none;--ta:left;--ta-mobile:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-Funnel-Display, 'Funnel Display'), var(--g-font-body, body);--weight:400;--size:16px;--size-tablet:16px;--size-mobile:17px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--ls:normal;--c:#000000;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pl:0px;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggx9SeSwdGe_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    </div><div
      data-same-height-display-contents
      style="--jc:center;--o-mobile:0"
      class="gzkq36nIak gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gDUaJgKbVe"
        class="gDUaJgKbVe"
        style="--ta:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:none;--d-mobile:block;--d-tablet:none;--op:100%;--op-mobile:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:16px;--pr:0px;--mb-mobile:14px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--mb-tablet:16px;--pt-tablet:0px;--pl-tablet:0px;--pb-tablet:0px;--pr-tablet:0px;--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1762341070024"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:451px;--w-tablet:451px;--w-mobile:451px;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ts:none;--ta:left;--ta-mobile:left;--fs:normal;--ff:var(--g-font-Funnel-Display, 'Funnel Display'), var(--g-font-heading, heading);--weight:600;--size:28px;--size-tablet:28px;--size-mobile:22px;--lh:120%;--lh-tablet:120%;--lh-mobile:130%;--ls:normal;--c:#000000;--tt:uppercase;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggDUaJgKbVe_text | replace: '$locationOrigin', locationOrigin }}
        </h2>
      </div>
    </div>
    
    <div
      role="presentation"
      data-id="gLNuCB_dOq"
      style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb-mobile:14px;--ta:center;--ta-mobile:center"
      class="gp-group/image gp-relative force-publish-1762341070025 gp-flex-none gp-h-auto mobile:gp-flex-none mobile:gp-h-auto tablet:gp-flex-none tablet:gp-h-auto gLNuCB_dOq"
    >
      <div
        
        style="border-radius:inherit;--jc:center;--jc-mobile:center"
        class="gp-h-full gp-w-full gp-flex pointer-events-auto"
      >
        
    <picture style="border-radius:inherit" class="gp-contents">
      
      <source media="(max-width: 767px)" data-srcSet="{{ "gempages_587555404163056185-33ec5677-1c6a-431f-bdec-b8e126f42284.png" | file_url }}" srcset="{{ "gempages_587555404163056185-33ec5677-1c6a-431f-bdec-b8e126f42284.png" | file_url }}" />
      <source media="(max-width: 1024px)" data-srcSet="{{ "gempages_587555404163056185-33ec5677-1c6a-431f-bdec-b8e126f42284.png" | file_url }}" srcset="{{ "gempages_587555404163056185-33ec5677-1c6a-431f-bdec-b8e126f42284.png" | file_url }}" />
    
      
      <img
        loading="eager" fetchpriority="high"
        src="{{ "gempages_587555404163056185-33ec5677-1c6a-431f-bdec-b8e126f42284.png" | file_url }}" data-src="{{ "gempages_587555404163056185-33ec5677-1c6a-431f-bdec-b8e126f42284.png" | file_url }}"
        alt=""
        width="100%"
        style="--aspect:483/380;--aspect-tablet:483/380;--aspect-mobile:auto;--objf:contain;--w:483px;--w-tablet:483px;--w-mobile:500px;--h:auto;--h-tablet:auto;--h-mobile:auto"
        class="gp-inline-block gp-w-full gp-max-w-full"
      />
    
    </picture>
  
      </div>
    </div>
  
      <style id="custom-css-gLNuCB_dOq">
        .gLNuCB_dOq {

}
.gLNuCB_dOq > figure > img {

}
      </style>
    
    </div>

      
    </gp-row>
  
  
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"transparent","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"gOqGCWZM6I"}' data-id="gOqGCWZM6I" id="gOqGCWZM6I" data-same-height-subgrid-container class="gOqGCWZM6I gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:0px;--pt:32px;--pl:20px;--pb:32px;--pr:20px;--mb-mobile:0px;--pt-mobile:28px;--pl-mobile:20px;--pb-mobile:28px;--pr-mobile:20px;--cg:120px;--gtc:minmax(0, auto) minmax(0, auto);--gtc-mobile:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:center">
      

      <div
      data-same-height-display-contents
      style="--jc:center"
      class="gS2YL8dW_c gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gqeDBNjmZ7"
        class="gqeDBNjmZ7"
        style="--ta:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:none;--d-mobile:block;--d-tablet:none;--op:100%;--op-mobile:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:16px;--pl:0px;--mb-mobile:14px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--mb-tablet:16px;--pt-tablet:0px;--pl-tablet:0px;--pb-tablet:0px;--pr-tablet:0px;--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1762341070035"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:451%;--w-tablet:451%;--w-mobile:451%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ts:none;--ta:left;--ta-mobile:left;--fs:normal;--ff:var(--g-font-Funnel-Display, 'Funnel Display'), var(--g-font-heading, heading);--weight:800;--size:28px;--size-tablet:28px;--size-mobile:22px;--lh:120%;--lh-tablet:120%;--lh-mobile:130%;--ls:normal;--c:#000000;--tt:uppercase;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggqeDBNjmZ7_text | replace: '$locationOrigin', locationOrigin }}
        </h2>
      </div>
    </div>
    
    <div
      role="presentation"
      data-id="g3NTCOLqX4"
      style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--op-tablet:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb-mobile:14px;--ta:center;--ta-mobile:center"
      class="gp-group/image gp-relative force-publish-1762341070035 gp-flex-none gp-h-auto mobile:gp-flex-none mobile:gp-h-auto tablet:gp-flex-none tablet:gp-h-auto g3NTCOLqX4"
    >
      <div
        
        style="border-radius:inherit;--jc:center;--jc-mobile:center"
        class="gp-h-full gp-w-full gp-flex pointer-events-auto"
      >
        
    <picture style="border-radius:inherit" class="gp-contents">
      
      <source media="(max-width: 767px)" data-srcSet="{{ "gempages_587555404163056185-955d8800-b262-4d49-9b82-36ac97b04937.jpg" | file_url }}" srcset="{{ "gempages_587555404163056185-955d8800-b262-4d49-9b82-36ac97b04937.jpg" | file_url }}" />
      <source media="(max-width: 1024px)" data-srcSet="{{ "gempages_587555404163056185-955d8800-b262-4d49-9b82-36ac97b04937.jpg" | file_url }}" srcset="{{ "gempages_587555404163056185-955d8800-b262-4d49-9b82-36ac97b04937.jpg" | file_url }}" />
    
      
      <img
        loading="eager" fetchpriority="high"
        src="{{ "gempages_587555404163056185-955d8800-b262-4d49-9b82-36ac97b04937.jpg" | file_url }}" data-src="{{ "gempages_587555404163056185-955d8800-b262-4d49-9b82-36ac97b04937.jpg" | file_url }}"
        alt=""
        width="100%"
        style="--aspect:483/380;--aspect-tablet:483/380;--aspect-mobile:auto;--objf:contain;--w:483px;--w-tablet:483px;--w-mobile:500px;--h:auto;--h-tablet:auto;--h-mobile:auto"
        class="gp-inline-block gp-w-full gp-max-w-full"
      />
    
    </picture>
  
      </div>
    </div>
  
      <style id="custom-css-g3NTCOLqX4">
        .g3NTCOLqX4 {

}
.g3NTCOLqX4 > figure > img {

}
      </style>
    
    </div><div
      data-same-height-display-contents
      style="--jc:center"
      class="gL5CplQhNq gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gYDJqukkP8"
        class="gYDJqukkP8"
        style="--ta:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:none;--d-tablet:none;--op:100%;--op-mobile:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:16px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--mb-mobile:14px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--mb-tablet:16px;--pl-tablet:0px;--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1762341070037"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:451%;--w-tablet:451%;--w-mobile:451%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ts:none;--ta:left;--ta-mobile:left;--fs:normal;--ff:var(--g-font-Funnel-Display, 'Funnel Display'), var(--g-font-heading, heading);--weight:800;--size:28px;--size-tablet:28px;--size-mobile:20px;--lh:120%;--lh-tablet:120%;--lh-mobile:130%;--ls:normal;--c:#000000;--tt:uppercase;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggYDJqukkP8_text | replace: '$locationOrigin', locationOrigin }}
        </h2>
      </div>
    </div>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="g_jSn-ii-R"
        class="g_jSn-ii-R"
        style="--ta:center;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:none;--d-mobile:none;--d-tablet:block;--op:100%;--op-mobile:100%;--op-tablet:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:11px;--pt:20px;--pl:18px;--pb:0px;--pr:20px;--mb-mobile:15px;--pt-mobile:0px;--pl-mobile:15px;--pb-mobile:0px;--pr-mobile:15px;--mb-tablet:16px;--pt-tablet:15px;--pl-tablet:0px;--pb-tablet:0px;--pr-tablet:20px;--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1762341070038"
      >
      <div class="gp-flex" style="--jc:center">
        <h1
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:996px;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ts:none;--ta:left;--ta-tablet:left;--ta-mobile:left;--fs:normal;--ff:var(--g-font-Funnel-Display, 'Funnel Display'), var(--g-font-heading, heading);--weight:800;--size:29px;--size-tablet:26px;--size-mobile:27px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--ls:0px;--c:#000000;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.gg_jSn-ii-R_text | replace: '$locationOrigin', locationOrigin }}
        </h1>
      </div>
    </div>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gDgUGQ3BgZ"
        class="gDgUGQ3BgZ"
        style="--ta:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--op-tablet:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--pl:0px;--pl-mobile:0px;--pl-tablet:0px;--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1762341070039"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:451px;--w-tablet:451px;--w-mobile:451px;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ts:none;--ta:left;--ta-mobile:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-Funnel-Display, 'Funnel Display'), var(--g-font-body, body);--weight:400;--size:16px;--size-tablet:16px;--size-mobile:17px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--ls:normal;--c:#000000;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pl:0px;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggDgUGQ3BgZ_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    </div>

      
    </gp-row>
  
  
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"#F2F8F9","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"preload":false,"repeat":"no-repeat","size":"cover","type":"color","video":"","videoHtml5":""},"mobile":{"attachment":"scroll","color":"#F2F8F9","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"preload":false,"repeat":"no-repeat","size":"cover","type":"color","video":"","videoHtml5":""}},"uid":"gwzAaQAM78"}' data-id="gwzAaQAM78" id="gwzAaQAM78" data-same-height-subgrid-container class="gwzAaQAM78 gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--pt:32px;--pl:20px;--pb:32px;--pr:20px;--mb-mobile:0px;--pt-mobile:28px;--pl-mobile:20px;--pb-mobile:28px;--pr-mobile:20px;--cg:120px;--gtc:minmax(0, auto) minmax(0, auto);--gtc-mobile:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:#F2F8F9;--bgc-mobile:#F2F8F9;--bgi:url();--bgi-mobile:url();--bgp:50% 50%;--bgp-mobile:50% 50%;--bgs:cover;--bgs-mobile:cover;--bgr:no-repeat;--bgr-mobile:no-repeat;--bga:scroll;--bga-mobile:scroll;--pc:center">
      

      <div
      data-same-height-display-contents
      style="--jc:center;--o-mobile:1"
      class="gtxfkK6X7q gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="ggsNSdZ6Nf"
        class="ggsNSdZ6Nf"
        style="--ta:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:none;--d-tablet:none;--op:100%;--op-mobile:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:16px;--pr:0px;--mb-mobile:14px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--mb-tablet:16px;--pr-tablet:0px;--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1762341070044"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:451px;--w-tablet:451px;--w-mobile:451px;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ts:none;--ta:left;--ta-mobile:left;--fs:normal;--ff:var(--g-font-Funnel-Display, 'Funnel Display'), var(--g-font-heading, heading);--weight:600;--size:28px;--size-tablet:28px;--size-mobile:20px;--lh:120%;--lh-tablet:120%;--lh-mobile:130%;--ls:normal;--c:#000000;--tt:uppercase;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.gggsNSdZ6Nf_text | replace: '$locationOrigin', locationOrigin }}
        </h2>
      </div>
    </div>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gZb395-ucR"
        class="gZb395-ucR"
        style="--ta:center;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:none;--d-mobile:none;--d-tablet:block;--op:100%;--op-mobile:100%;--op-tablet:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:11px;--pt:20px;--pl:18px;--pb:0px;--pr:20px;--mb-mobile:15px;--pt-mobile:0px;--pl-mobile:15px;--pb-mobile:0px;--pr-mobile:15px;--mb-tablet:16px;--pt-tablet:15px;--pl-tablet:0px;--pb-tablet:0px;--pr-tablet:20px;--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1762341070045"
      >
      <div class="gp-flex" style="--jc:center">
        <h1
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:996px;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ts:none;--ta:left;--ta-tablet:left;--ta-mobile:left;--fs:normal;--ff:var(--g-font-Funnel-Display, 'Funnel Display'), var(--g-font-heading, heading);--weight:800;--size:29px;--size-tablet:26px;--size-mobile:27px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--ls:0px;--c:#000000;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggZb395-ucR_text | replace: '$locationOrigin', locationOrigin }}
        </h1>
      </div>
    </div>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="g3iH55L4Vr"
        class="g3iH55L4Vr"
        style="--ta:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--pr:0px;--pr-tablet:0px;--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1762341070046"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:451px;--w-tablet:451px;--w-mobile:451px;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ts:none;--ta:left;--ta-mobile:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-Funnel-Display, 'Funnel Display'), var(--g-font-body, body);--weight:400;--size:16px;--size-tablet:16px;--size-mobile:17px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--ls:normal;--c:#000000;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pl:0px;overflow:hidden;--tdl:"
        >
          {{ section.settings.gg3iH55L4Vr_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    </div><div
      data-same-height-display-contents
      style="--jc:center;--o-mobile:0"
      class="g9-IRFKCcG gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gLxhXdAkRm"
        class="gLxhXdAkRm"
        style="--ta:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:none;--d-mobile:block;--d-tablet:none;--op:100%;--op-mobile:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:16px;--pr:0px;--mb-mobile:14px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--mb-tablet:16px;--pr-tablet:0px;--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1762341070047"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:451px;--w-tablet:451px;--w-mobile:451px;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ts:none;--ta:left;--ta-mobile:left;--fs:normal;--ff:var(--g-font-Funnel-Display, 'Funnel Display'), var(--g-font-heading, heading);--weight:600;--size:28px;--size-tablet:28px;--size-mobile:22px;--lh:120%;--lh-tablet:120%;--lh-mobile:130%;--ls:normal;--c:#000000;--tt:uppercase;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggLxhXdAkRm_text | replace: '$locationOrigin', locationOrigin }}
        </h2>
      </div>
    </div>
    
    <div
      role="presentation"
      data-id="gpMvmk_QIA"
      style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--mb-mobile:14px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--pt-tablet:0px;--pl-tablet:0px;--pb-tablet:0px;--pr-tablet:0px;--ta:center;--ta-mobile:center"
      class="gp-group/image gp-relative force-publish-1762341070048 gp-flex-none gp-h-auto mobile:gp-flex-none mobile:gp-h-auto tablet:gp-flex-none tablet:gp-h-auto gpMvmk_QIA"
    >
      <div
        
        style="border-radius:inherit;--jc:center;--jc-mobile:center"
        class="gp-h-full gp-w-full gp-flex pointer-events-auto"
      >
        
    <picture style="border-radius:inherit" class="gp-contents">
      
      <source media="(max-width: 767px)" data-srcSet="{{ "gempages_587555404163056185-ee2deebd-66cb-4bc9-a22d-16ab984ae216.webp" | file_url }}" srcset="{{ "gempages_587555404163056185-ee2deebd-66cb-4bc9-a22d-16ab984ae216.webp" | file_url }}" />
      <source media="(max-width: 1024px)" data-srcSet="{{ "gempages_587555404163056185-ee2deebd-66cb-4bc9-a22d-16ab984ae216.webp" | file_url }}" srcset="{{ "gempages_587555404163056185-ee2deebd-66cb-4bc9-a22d-16ab984ae216.webp" | file_url }}" />
    
      
      <img
        loading="eager" fetchpriority="high"
        src="{{ "gempages_587555404163056185-ee2deebd-66cb-4bc9-a22d-16ab984ae216.webp" | file_url }}" data-src="{{ "gempages_587555404163056185-ee2deebd-66cb-4bc9-a22d-16ab984ae216.webp" | file_url }}"
        alt=""
        width="100%"
        style="--aspect:483/380;--aspect-tablet:483/380;--aspect-mobile:auto;--objf:contain;--w:483px;--w-tablet:483px;--w-mobile:500px;--h:auto;--h-tablet:auto;--h-mobile:auto"
        class="gp-inline-block gp-w-full gp-max-w-full"
      />
    
    </picture>
  
      </div>
    </div>
  
      <style id="custom-css-gpMvmk_QIA">
        .gpMvmk_QIA {

}
.gpMvmk_QIA > figure > img {

}
      </style>
    
    </div>

      
    </gp-row>
  
  
    </div>

      
    </gp-row>
  
        </section>
      
  
    <style {% if section.settings.section_preload == "false" %} class="gps-link" type="text/disabled-css" {% endif %}>@font-face {
  font-family: 'Funnel Display';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/funneldisplay/v3/B50bF7FGv37QNVWgE0ga--4PbZSRJXrOHcLHLoAYmmPnX893.woff) format('woff');
}
@font-face {
  font-family: 'Funnel Display';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/funneldisplay/v3/B50bF7FGv37QNVWgE0ga--4PbZSRJXrOHcLHLoAYRGTnX893.woff) format('woff');
}
@font-face {
  font-family: 'Funnel Display';
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/funneldisplay/v3/B50bF7FGv37QNVWgE0ga--4PbZSRJXrOHcLHLoAYGmTnX893.woff) format('woff');
}
/* latin-ext */
@font-face {
  font-family: 'Funnel Display';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/funneldisplay/v3/B50WF7FGv37QNVWgE0ga--4Pbb6TDYs0gnHAA4E.woff2) format('woff2');
  unicode-range: U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Funnel Display';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/funneldisplay/v3/B50WF7FGv37QNVWgE0ga--4Pbb6dDYs0gnHA.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* latin-ext */
@font-face {
  font-family: 'Funnel Display';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/funneldisplay/v3/B50WF7FGv37QNVWgE0ga--4Pbb6TDYs0gnHAA4E.woff2) format('woff2');
  unicode-range: U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Funnel Display';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/funneldisplay/v3/B50WF7FGv37QNVWgE0ga--4Pbb6dDYs0gnHA.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* latin-ext */
@font-face {
  font-family: 'Funnel Display';
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/funneldisplay/v3/B50WF7FGv37QNVWgE0ga--4Pbb6TDYs0gnHAA4E.woff2) format('woff2');
  unicode-range: U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Funnel Display';
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/funneldisplay/v3/B50WF7FGv37QNVWgE0ga--4Pbb6dDYs0gnHA.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
</style>
    
{% schema %}
  {
    
    "name": "Section 2",
    "tag": "section",
    "class": "gps-587568962938602417 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/pkfndf-gv/apps/gempages-cro/app/shopify/edit?pageType=GP_STATIC&editorId=587568857208586850&sectionId=587568962938602417)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"text","label":"Checksum","id":"checksum"},{"type":"html","id":"ggvaUBZF1D__text","label":"ggvaUBZF1D__text","default":"<span style=\"font-size:24px;\">5 Reasons Why REGROW Instantly Reactivates Hair Growth&nbsp; Without Complicated Treatments</span>"},{"type":"html","id":"ggageb314dy_text","label":"ggageb314dy_text","default":"<p><span style=\"background-color:transparent;color:#000000;font-size:18px;\">Tired of juggling multiple hair products that never really solve the problem? Keep reading to discover how <strong>ReGrow</strong> offers a fast, clinically proven solution for thicker, stronger hair  so you can finally skip the hassle and experience real regrowth.</span></p>"},{"type":"html","id":"gg3RGcdsqN__text","label":"gg3RGcdsqN__text","default":"<span style=\"font-size:24px;\">1. APPLICATION INDOLORE EN UNE MINUTE</span>"},{"type":"html","id":"gg7ajWu5HYP_text","label":"gg7ajWu5HYP_text","default":"<p><span style=\"font-size:16px;\">Pas d'tapes compliques, pas de longues routines. Tamponnez-le dlicatement sur les zones clairsemes (on dirait que vous tapotez avec votre ongle), et c'est termin en moins de 60 secondes. Constatez des amliorations visibles en seulement une semaine, avec une croissance remarquable en 8  10 semaines.</span></p>"},{"type":"html","id":"gg9jYiee2Ux_text","label":"gg9jYiee2Ux_text","default":"1. PASSEZ DE LA PERTE DE CHEVEUX  UNE CHEVELURE COMPLTE INSTANTANMENT"},{"type":"html","id":"ggigksYMOGT_text","label":"ggigksYMOGT_text","default":"<p><strong>ReGrow targets the root cause of hair loss: excess DHT. </strong>The micro-needles create tiny openings in your scalp, ensuring the active formula penetrates deeply to stop hair loss within 1 week and trigger rapid regrowth in 8 to 10 weeks.</p>"},{"type":"html","id":"ggw0EF81rp6_text","label":"ggw0EF81rp6_text","default":"1. GO FROM HAIR LOSS TO A FULL HEAD OF HAIR  INSTANTLY"},{"type":"html","id":"ggnvT7KBOpQ_text","label":"ggnvT7KBOpQ_text","default":"1. GO FROM HAIR LOSS TO A FULL HEAD OF HAIR  INSTANTLY"},{"type":"html","id":"ggjkv5m1vuM_text","label":"ggjkv5m1vuM_text","default":"<p><span style=\"background-color:transparent;color:#000000;font-size:16px;\">Alphalab targets the root cause of hair loss: excess DHT. The micro-needles create tiny openings in your scalp, allowing the active formula to penetrate deeplystopping hair loss within 1 week and triggering rapid regrowth in just 8 to 10 weeks.</span></p>"},{"type":"html","id":"ggpiz-sEMZs_text","label":"ggpiz-sEMZs_text","default":"1. PASSEZ DE LA PERTE DE CHEVEUX  UNE CHEVELURE COMPLTE INSTANTANMENT"},{"type":"html","id":"ggUVMhu0dq0_text","label":"ggUVMhu0dq0_text","default":"2. PAIN-FREE APPLICATION<br>IN JUST ONE MINUTE"},{"type":"html","id":"ggBuXqnlX5v_text","label":"ggBuXqnlX5v_text","default":"2. PAIN-FREE APPLICATION<br>IN JUST ONE MINUTE"},{"type":"html","id":"ggAfEwZaHfX_text","label":"ggAfEwZaHfX_text","default":"<span style=\"font-size:24px;\">2. APPLICATION INDOLORE EN UNE MINUTE</span>"},{"type":"html","id":"ggjCATAKblz_text","label":"ggjCATAKblz_text","default":"<p><span style=\"font-size:16px;\">No complicated steps, no long routines. Gently dab it on thinning areas (it feels like a light tap of your fingertip), and youre done in under 60 seconds.&nbsp;</span></p><p>&nbsp;</p><p><span style=\"font-size:16px;\">See visible improvements in just one week, with noticeable growth in 8 to 10 weeks.</span></p>"},{"type":"html","id":"ggtYc7Qs-ws_text","label":"ggtYc7Qs-ws_text","default":"<strong>3. APPROVED AND RECOMMENDED BY TRICHOLOGISTS</strong>"},{"type":"html","id":"ggQcV0SPRl3_text","label":"ggQcV0SPRl3_text","default":"<span style=\"font-size:24px;\">3. APPLICATION INDOLORE EN UNE MINUTE</span>"},{"type":"html","id":"ggx9SeSwdGe_text","label":"ggx9SeSwdGe_text","default":"<p><span style=\"background-color:transparent;color:#000000;font-size:16px;\">Co-created by Dr. James Carter and endorsed by leading trichologists, AlphaLAB combines premium botanicals like Panax Ginseng and Eclipta Prostrata for safe, clinically proven hair regrowthfast.</span></p>"},{"type":"html","id":"ggDUaJgKbVe_text","label":"ggDUaJgKbVe_text","default":"<strong>3. APPROVED AND RECOMMENDED BY TRICHOLOGISTS</strong>"},{"type":"html","id":"ggqeDBNjmZ7_text","label":"ggqeDBNjmZ7_text","default":"<strong>4. 90-DAY HAIR GROWTH GUARANTEE  RISK-FREE</strong>"},{"type":"html","id":"ggYDJqukkP8_text","label":"ggYDJqukkP8_text","default":"<strong>4. </strong>90-DAY HAIR GROWTH&nbsp;<br>GUARANTEE  RISK-FREE"},{"type":"html","id":"gg_jSn-ii-R_text","label":"gg_jSn-ii-R_text","default":"<span style=\"font-size:24px;\">4. GARANTIE DE CROISSANCE DE 120 JOURS - ZRO RISQUE</span>"},{"type":"html","id":"ggDgUGQ3BgZ_text","label":"ggDgUGQ3BgZ_text","default":"<p><span style=\"font-size:16px;\">Every Alphalab Infuse purchase is backed by a money-back guarantee. If you dont see thicker, fuller hair, simply return it within 90 days  no questions asked.</span></p>"},{"type":"html","id":"gggsNSdZ6Nf_text","label":"gggsNSdZ6Nf_text","default":"<strong>5. JOIN THE LEGION OF CONFIDENT MEN</strong>"},{"type":"html","id":"ggZb395-ucR_text","label":"ggZb395-ucR_text","default":"<span style=\"font-size:24px;\">5. REJOIGNEZ LA LGION DES HOMMES CONFIANTS</span>"},{"type":"html","id":"gg3iH55L4Vr_text","label":"gg3iH55L4Vr_text","default":"<p><span style=\"font-size:16px;\">Alphalab isnt just a hair solution  its a fast track to regaining self-confidence. Thousands of men have already felt the difference; now its your turn to enjoy thicker, healthier hair.</span></p>"},{"type":"html","id":"ggLxhXdAkRm_text","label":"ggLxhXdAkRm_text","default":"<strong>5. JOIN THE LEGION OF CONFIDENT MEN</strong>"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}
  